.emaillisthr{
    margin-top: -15px;
    width:80%;
    margin-left: 185px;
}
.emailtmphr{
    margin-top: -15px;
    width:82.6%;
    margin-left: 158px;
}
.emailtmpbtn{
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: #44b8ab;
    text-transform: none;
    width: 180px;
    font-size: 15px;
    left:735px;
    cursor:pointer;
}


.emailtempcontain{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

  .emailtemptable{
    width: 100%;
    border-collapse: collapse;
    CURSOR:POINTER;
  }

  .emailtemptable th, .emailtemptable td {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #e0e0e0;
}

.emailtemptable th {
    background-color: #f5f5f5;
    color: #333;
    font-weight: bold;
}

.emailtemptable tbody tr:last-child td {
    border-bottom: none;
}

.emailtemptable tbody tr:hover {
    background-color: #f9f9f9;

}
.emailtmpbtn:hover{
    background-color: #89d6cd;
}
