.admissionenquirycontain{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admissionenquirytable{
    width: 100%;
    border-collapse: collapse;
    CURSOR:POINTER;
}

.admissionenquirytable th, .admissionenquirytabletd {
    text-align: left;
    padding: 12px 15px;
    border-bottom: 1px solid #e0e0e0;
}

.admissionenquirytable th {
    background-color: #f5f5f5;
    color: #333;
    font-weight: bold;
}

.admissionenquirytable tbody tr:last-child td {
    border-bottom: none;
}

.admissionenquirytable tbody tr:hover {
    background-color: #f9f9f9;

}
.admissionenquirybtn{ 
        margin-top: -5px;
        margin-bottom: 40px;
        border-radius: 20px;
        background-color: #44b8ab;
        text-transform: none;
        width: 130px;
        font-size: 15px;
        align-items: left;
      
}

.admissionenquirybtn:hover{
        background-color: #89d6cd;
    }

    .admissionhr{
        margin-top: -15px;
        width:87.5%;
        margin-left: 115px;
      }